.about {
    margin-top: 260px;
    position: relative;
    @media screen and (max-width: 480px) {
        margin-top: 100px;   
    }
}

.hero-ellipse {
    position: absolute;
    left: 0;
    top: -850px;
    z-index: -1;
    @media screen and (max-width: 480px) {
        display: none;   
    }
}

.about-ellipse {
    position: absolute;
    right: 0;
    top: -1000px;
    z-index: -1;
    @media screen and (max-width: 480px) {
        width: 100%;   
        top: -300px;
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    @media screen and (max-width: 480px) {
        gap: 16px;   
    }
}