.contact {
    margin-top: 260px;
    position: relative;
    height: 1200px;
    overflow: hidden;
    border-radius: 26px 26px 0 0;
    @media screen and (max-width: 480px) {
        height: unset;   
        margin-top: 100px;
        padding-top: 20px;
        overflow: unset;
    }
}

.contact-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    @media screen and (max-width: 480px) {
        height: 1200px;   
    }
}

.contact-inner {
    margin-top: 64px;
    margin-bottom: 230px;
    padding: 82px 0;
    border-radius: 26px;
    border-top: 1px solid var(--effects-border, rgb(45, 45, 45));
    border-bottom: 1px solid var(--effects-border, rgb(45, 45, 45));
    border-left: 1px solid var(--effects-border, rgb(45, 45, 45));
    background: var(--card, rgba(83, 83, 165, 0.15));
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 480px) {
        padding: 16px;
        margin-bottom: 20px;
    }
}

.contact-title {
    color: var(--black-white-white, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    max-width: 873px;
    width: 100%;
    @media screen and (max-width: 480px) {
        font-size: 32px;
    }
}

.contact-text {
    color: var(--secondary-100, #D9D9D9);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.48px;
    margin: 32px 0 60px 0;
    max-width: 873px;
    width: 100%;
    @media screen and (max-width: 480px) {
        font-size: 18px;   
    }
}