.hero {
    margin-top: 140px;
}

.hero-suptext {
    color: var(--secondary-100, #D9D9D9);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: 1px;
    text-transform: capitalize;
    @media screen and (max-width: 480px) {
        font-size: 14px;
    }
}

.hero-title {
    color: var(--black-white-white, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%; /* 90px */
    text-transform: uppercase;
    position: relative;
    @media screen and (max-width: 480px) {
        font-size: 44px;
        text-align: center;   
        margin-bottom: 102px;
    }
}

.hero-title span {
    @media screen and (max-width: 480px) {
        position: static;   
    }
}

.hero-built {
    position: absolute;
    right: -70px;
}

.hero-on {
    position: absolute;
    width: 650px;
    left: -135px;
}

.hero-pre {
    position: absolute;
    right: -26px;
}

.hero-pur {
    position: absolute;
    width: 650px;
    left: -47px;
}

.hero-text {
    color: var(--black-white-white, #FFF);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
@media screen and (max-width: 480px) {
    font-size: 18px;
    color: #939393;
}
}

.hero-text-high {
    position: absolute;
    top: 266px;
    right: clamp(10px, 10vw, 148px);
    max-width: 458px;
    width: 100%;
    @media screen and (max-width: 480px) {
        position: static;   
    }
}

.hero-text-low {
    max-width: 390px;
    width: 100%;
    position: absolute;
    top: 355px;
    left: 222px;
    @media screen and (max-width: 480px) {
        position: static;   
    }
}

.hero-button {
    margin-top: 6px;
    // position: relative;
    overflow: hidden;
    border-radius: 100px;
    border: none;
    background: var(--card, rgba(83, 83, 165, 0.15));
    padding: 14px 24px;
    color: var(--black-white-white, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.15) inset;
    backdrop-filter: blur(3.5px);
    transition: opacity 400ms ease-in-out;
    cursor: pointer;
    @media screen and (max-width: 480px) {
        width: 100%;
    }   
}

.hero-button:hover {
    border-radius: 100px;
    // border: 1px solid var(--card, rgba(83, 83, 165, 0.15));
    background: var(--card, rgba(83, 83, 165, 0.15));
    box-shadow: 0 0 30px 0 #446EF6, 0 2px 4px 0 rgba(255, 255, 255, 0.15) inset;
    backdrop-filter: blur(3.5043578147888184px);
}

.hero-button span {
    position: relative;
    z-index: 1;
}

.hero-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(265deg, #1A82D2 0%, #3065E2 53.37%, #5353A5 100%);
    transition: opacity 400ms ease-in-out;
    z-index: 0;
}

.hero-button:hover::before {
    opacity: 0;
}