html {
  scroll-behavior: smooth;
}

body {
  background: #000;
}

body.noscroll {
  overflow: hidden;
}

// section {
//   margin-top: 200px !important;
//   position: relative;
//   @media screen and (max-width: 480px) {
//     margin-top: 100px !important;   
//   }
// }

// .bold {
//   font-weight: 600;
// }

a {
  text-decoration: none;
}

.video {
  position: absolute;
  inset: 0;
  top: 0;
  width: 100%;
  height: max-content;
  max-height: 1900px;
  z-index: -1;  
  @media screen and (max-width: 480px) {
      top: 10px;
  }
}

.video::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.10) 52.88%, #000 100%);
  pointer-events: none;
}

.video video {
  width: 100%;
  height: 860px;
  object-fit: contain;
  pointer-events: none;
  // z-index: -1;
  @media screen and (max-width: 480px) {
    object-fit: cover;
    height: 500px;     
  }
}

// .video video::after{
//   content: "";
//   position: absolute;
//   inset: 0;
//   background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.10) 52.88%, #000 100%);
//   pointer-events: none;
// }

.grey {
  color: #8E8E8E;
}

.blue {
  color: var(--primary-violet, #6C6BF7);
}

.orange {
  color: #C70C01;
}

.gradient {
  background: var(--primary-gradiend, linear-gradient(136deg, #00C18B 10.01%, #08AF9F 27.11%, #3826E9 76.49%, #4500FD 89.03%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 500;
}

.dark {
  color: var(--neutral-900, #171717);
  font-weight: 600;
}

.fontweight {
  font-weight: 700;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  @media screen and (max-width: 480px) {
    gap: 16px;     
  }
}

.text {
  color: var(--secondary-100, #D9D9D9);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
letter-spacing: -0.4px;
max-width: 630px;
width: 100%;
  @media screen and (max-width: 480px) {
    font-size: 18px; 
  }
}

.title {
  color: var(--black-white-white, #FFF);
font-family: "Plus Jakarta Sans";
font-size: 44px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 48.4px */
  max-width: 643px;
  width: 100%;
  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
  @media screen and (max-width: 480px) {
    flex-direction: column; 
  }
}

.item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 400ms ease-in-out;
  @media screen and (max-width: 480px) {
    border-radius: 14px;
  background: rgba(255, 255, 255, 0.14);
  }
}

.item:hover {
  border-radius: 14px;
background: rgba(255, 255, 255, 0.14);
}

.item:hover .digital-icon-second {
  background-image: url('/src/images/digital2-red.svg');
}

.item:hover .digital-icon-first {
  background-image: url('/src/images/digital1-red.svg');
}

.item:hover .digital-icon {
  background-image: url('/src/images/digital3-red.svg');
}



// .button {
    
  
//   @media screen and (max-width: 480px) {
      
//   }
// }
  
//   .button:hover {
    
//   }
  
//   .button svg path {
//     transition: all 400ms ease;
//   }
  
//   .button:hover svg path {
//     stroke: #22206D;
//   }


// .sticky-section {
//     position: sticky !important;
//     top: -50%;
//     // height: 150vh;
//     @media screen and (max-width: 480px) {
//         position: unset !important;
//     }
//   }

// br {
//     @media screen and (max-width: 480px) {
//         display: none;   
//     }
// }

// .anim-show {
//     transform: translate(0px, 120%);
//     opacity: 0;
//     transition: all 1000ms ease 0s;
// }

// .anim-show.-active, .-active .anim-show {
//     opacity: 1;
//     transform: translate(0px, 0px);
// }

// .anim-items {
//     overflow: hidden;
// }