@import './utils/globals';
@import './utils/reset';
@import './components/container';
@import './components/header';
@import './components/popup';
@import './components/hero';
@import './components/about';
@import './components/wedo';
@import './components/method';
@import './components/contact';
@import './components/footer';
@import './components/politic';

// @import './components/market';
// @import './components/service';
// @import './components/why';
// @import './components/policy';
// @import './components/how';
// @import './components/dev';
// @import './components/built';
// @import './components/design';
// @import './components/choose';
// @import './components/vision';

// @import './components/glass';
// @import './components/platform';
// @import './components/digital';
// @import './components/core';
// @import './components/mission';

// @import './components/values';
// @import './components/equip';
// @import './components/team';
// @import './components/partner';
// @import './components/sol';
// @import './components/results';
// @import './components/expertise';
// @import './components/advan';

